{name, "erlando"}.
{authors, ["Matthew Sackman <matthew@rabbitmq.com>"]}.
{description, "Cuts and monads for Erlang"}.
{homepage, "https://github.com/rabbitmq/erlando"}.
{rebar_compatible, false}.
{build_command, "make"}.
{license, "MPL"}.
{url, {git, "https://github.com/rabbitmq/erlando.git", {tag, "7f0ed94e325918f43c96491bb8251e37d0a70505"}}}.  
