{name, "erlando"}.
{authors, ["msackman"]}.
{description, "Cuts and monads for Erlang"}.
{homepage, "https://github.com/rabbitmq/erlando"}.
{rebar_compatible, false}.
{build_command, "make"}.
{install_command, "cp -r $\"AGNER_PACKAGE_REPO\"/* $\"AGNER_INSTALL_PREFIX\"/"}.
{license, "MPL"}.
{url, {git, "https://github.com/rabbitmq/erlando.git", {branch, "master"}}}.  % Ref is either "[sha1]", or {tag, "[tag name]"} or {brach, "[BranchName]"}
%% url also accepts {hg, "[Package Hg URL]", "[Package Hg Rev]"} 
%%                  {svn, "[Package SVN URL]", "[Package SVN Rev]"}
{applications, []}.
